*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    max-width: 1600px;
    border: 1px solid red;
}
.width{
    width: 1200px; 
    margin: 0 auto; 
}
/* navbar section styles */
header, section{
    background-color: #1A0B2E;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav{
    color: #FFFFFF; 
    padding: 30px 210px; 
} */
#logo{
    width: 219px;
    color: #FFFFFF;
    padding: 30px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 32px;
}
.logo-color{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ul-container{
    display: flex;
    gap: 32px;
}
.ul-container>li{
    list-style: none;
}
.ul-container>li>a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    opacity: 0.7;
    transition: 0.3s;
}
.ul-container>li>a:hover{
    opacity: 1;

}
.btn{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    cursor: pointer;
    width: 135px;
    height: 44px;
}
.btn:hover{
    opacity: 0.8;
    background-color: bisque;
    transition: 0.3s;
}
   
.menu-toggle{
    display: none;
    color: white; 
    font-size: 2.5rem; 
    margin-right: 5px;
}
/* banner section styles */ 
.banner{
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 760px;
}
.circle-img{
    position: absolute;
    top: 195px;
    left: 593px;
}
.microphone-img{
    position: relative;
    bottom: -185px;
    right: -708px;
}
.banner-middle{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner-middle h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 64px;
}
.banner-middle p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
    opacity: 0.7;
}
.banner-btn1{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    padding: 10px 14px 10px 14px;
    border: none;
    color: #FFFFFF;
    gap: 10px; 
} 
.banner-btn2{
    border-radius: 25px;
    padding: 10px 22px 10px 22px;
    border: 1px solid #00FF88;
    color: #00FF88; 
}

/* about section styles */
.hr-line{
    border: 1px solid #FFFFFF;
    opacity: 0.1;
    margin: 0 auto;
}
.about{
    text-align: center;
    padding: 50px;
}
.about h2{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2rem;
    line-height: 48px;
}
.about p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
    opacity: 0.7;
}
/* activity section style */
.activity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.activity h3{
    color: #00FF88; 
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
}
.activity p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
    opacity: 0.7;
}
#star{
    font-size: 1.9rem;
    color: #00FF88; 
}
/* choose area section styles */
.choose h1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.grid-container {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "audio mobile mobile"
    "audio global global"
    "interview interview resources";
}
.card1 {
  background-color: #240b4f; /* Lighter purple card */
  padding: 30px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card1 h3 {
  margin-top: 15px;
  font-size: 1.2rem;
}

.card1 p {
  color: #a19bb8;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* Assigning each div to its specific area */
.audio { grid-area: audio; }
.mobile { grid-area: mobile; }
.global { grid-area: global; }
.interviews { grid-area: interview; }
.resources { grid-area: resources; }



/* feature episode section styles */
.feature-episode{
    background-color: #1A0B2E;
}
.feature-episode h3{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.episode-card{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
    
}
.episode{
    width: 400px;
    height: 490px;
}
.episode-info{
    background-color: #250D44; 
    padding-bottom: 24px;
    border: none;
    border-radius: 0 0 22px 22px;
}
.episode-info h4{
    font-size: 1.6rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 24px 24px 12px 24px; 
}
.episode p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0px 24px 12px 24px; 
    opacity: 0.7;
}
.episode time{
    font-size: 1rem;
    line-height: 24px;
    color: #00FF88; 
    font-weight: 400;
    margin-right: 5px;
    padding: 0px 24px 12px 24px;
}
.episode-link{
    border-radius: 28px 28px 0 0;
    width: 400px;
    height: 250px;
}

.episode h4{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
}
.episode p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.7;
}


/* Meet the Host section styles */
.host-section{
   padding-bottom: 120px;
}
.host-section h1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 2rem;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}
.host-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; 
    padding-bottom: 50px;
    background-color: #250D44; 
    border: none;
    border-radius: 22px;
}
/* .host-info{
    background-color: #250D44; 
    padding-bottom: 24px;
    border: none;
    border-radius: 22px;
} */
 .host-img{
    position: relative;
    top: 27px;
    left: 25px;

 }
.host-info h2{
    font-size: 1.6rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    padding: 24px 24px 12px 24px; 
}
.host-info p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 400;
    padding: 0px 24px 12px 24px; 
    opacity: 0.7;
}
.host-info a{
    font-size: 1rem;
    line-height: 24px;
    color: #00FF88; 
    font-weight: 400;
    margin-left: 20px; 
}
footer{
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto; 
}
.footer-container{
    text-align: center;
    justify-content: center;
    padding: 120px; 
}
.footer-container h1{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 4rem;
    line-height: 48px;
    text-align: center;
}
.footer-container a{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 48px;
    text-align: center;
}
.footer-container p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
}

/* footer section styles */


/* responsive styles */ 
@media screen and (max-width: 576px) {
    /* navbar section responsive-mobile device */
   .nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
    .width{
        width: 100%;  
    }
    .ul-container{
        display: none;
    }
    .btn{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    /* banner section responsive-mobile device */
    .banner{
        background-size: cover;
        background-position: center;
        height: auto;
        padding: 205px;
    }
    .circle-img{
        position: absolute;
        top: 150px;
        left: 173px;
        width: 230px;
        height: 230px;
    }
    .microphone-img{
        position: relative;
        bottom: 81px;
        right: -55px;
        width: 55px;
        height: 90px;
    }
    .banner-middle{
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
}
   .banner-middle h1{
    font-size: 2rem;
    line-height: 36px;
   }
   .banner-middle p{
    font-size: 1.1rem;
   }
   .banner-btn1{
    font-size: 1rem;
   }
   .banner-btn2{
    font-size: 1rem;
   }
   /* about section responsive-mobile device */
   .activity{
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
   }
   /* choose area section responsive-mobile device */
   .choose-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   /* feature episode section responsive-mobile device */
   .episode-card{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
   }
   .episode-info{
    background-color: #250D44; 
    padding-bottom: 24px;
    border: none;
    border-radius: 0 0 22px 22px;
   }
   /* grid style */
   .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: none; 
  }
  .card {
    grid-area: auto; 
  }
   
   /* meet the host section responsive-mobile device */
   .host-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
   .host-container img{
    position: relative;
    top: 10%;
    left: 32%;
   }
   .host-info{
    text-align: center;
   }
   /* footer section responsive-mobile device */
  
}