*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    max-width: 1600px;
    border: 1px solid red;
}
.width{
    width: 1200px; 
    margin: 0 auto; 
}
/* navbar section styles */
header{
    background-color: #1A0B2E;
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* nav{
    color: #FFFFFF; 
    padding: 30px 210px; 
} */
#logo{
    width: 219px;
    color: #FFFFFF;
    padding: 30px;
    font-weight: 700;
    font-size: 3rem;
    line-height: 32px;
}
.logo-color{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ul-container{
    display: flex;
    gap: 32px;
}
.ul-container>li{
    list-style: none;
}
.ul-container>li>a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
}
.btn{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    padding: 12px 16px 12px 16px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    cursor: pointer;
    width: 135px;
    height: 44px;
}
.menu-toggle{
    display: none;
    color: white; 
    font-size: 2.5rem; 
    margin-right: 5px;
}
/* banner section styles */ 
.banner{
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 760px;
}
.circle-img{
    position: absolute;
    top: 195px;
    left: 593px;
}
.microphone-img{
    position: relative;
    bottom: -185px;
    right: -708px;
}
.banner-middle{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.banner-middle h1{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 64px;
}
.banner-middle p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
}
.banner-btn1{
    background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
    border-radius: 25px;
    padding: 10px 14px 10px 14px;
    border: none;
    color: #FFFFFF;
    gap: 10px; 
}  
.banner-btn2{
    border-radius: 25px;
    padding: 10px 22px 10px 22px;
    border: 1px solid #00FF88;
    color: #00FF88; 
}
/* about section styles */
.about{
    text-align: center;
    padding: 50px;
}
.about h2{
    color: #1A0B2E;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
}
.about p{
    color: #1A0B2E;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
}
/* episode section styles */
.episode{
    text-align: center;
    padding: 50px;
}
.episode h2{
    color: #1A0B2E;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 48px;
}
.episode p{
    color: #1A0B2E;
    font-weight: 400;
    font-size: 1rem;
    padding: 20px; 
}














/* responsive styles */ 
@media screen and (max-width: 576px) {
    /* navbar section responsive-mobile device */
   .nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
    .width{
        width: 100%;  
    }
    .ul-container{
        display: none;
    }
    .btn{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
    /* banner section responsive-mobile device */
    .banner{
        background-size: cover;
        background-position: center;
        height: auto;
        padding: 205px;
    }
    .circle-img{
        position: absolute;
        top: 150px;
        left: 173px;
        width: 230px;
        height: 230px;
    }
    .microphone-img{
        position: relative;
        bottom: 81px;
        right: -55px;
        width: 55px;
        height: 90px;
    }
    .banner-middle{
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        align-items: center;
}
   .banner-middle h1{
    font-size: 2rem;
    line-height: 36px;
   }
   .banner-middle p{
    font-size: 1.1rem;
   }
   .banner-btn1{
    font-size: 1rem;
   }
   .banner-btn2{
    font-size: 1rem;
   }
}